@import "tailwindcss";

@theme {
  --color-primario: var(--tema-primario);
  --color-secundario: var(--tema-secundario);
  --color-fondo: var(--tema-fondo);
  --color-texto: var(--tema-texto);
  --color-fondo-secundario: var(--tema-fondo-secundario);
}

@layer base {

  /* 2. Tema por defecto (news-of-the-world) asignado a la raíz */
  :root {
    --tema-primario: #CF2C01;
    --tema-secundario: #67342C;
    --tema-fondo: #75C6C8;
    --tema-texto: #302417;
    --tema-fondo-secundario: #DFE6D7;
  }

  /* Tema: news-of-the-world (default, mismo que :root) */
  .news-of-the-world {
    --tema-primario: #cb4f3a;
    --tema-secundario: #584437;
    --tema-fondo: #8C9D72;
    --tema-texto: #4A3B18;
    --tema-fondo-secundario: #C6C2B1;
  }

  /* Tema: queen-ii */
  .queen-ii {
    --tema-primario: #FFFEFF;
    --tema-secundario: #B88558;
    --tema-fondo: #1D161E;
    --tema-texto: #E7CAB4;
    --tema-fondo-secundario: #82696C;
  }

  /* Tema: a-night-at-the-opera */
  .a-night-at-the-opera {
    --tema-primario: #F4B547;
    --tema-secundario: #2F3879;
    --tema-fondo: #FFFFFF;
    --tema-texto: #320B1E;
    --tema-fondo-secundario: #F38AB3;
  }

  /* Tema: jazz */
  .hot-space {
    --tema-primario: #18A142;
    --tema-secundario: #FEFB00;
    --tema-fondo: #FF2615;
    --tema-texto: #FFFEFF;
    --tema-fondo-secundario: #00B0D2;
  }

  /* Tema: the-game */
  .the-miracle {
    --tema-primario: #CF2C01;
    --tema-secundario: #67342C;
    --tema-fondo: #75C6C8;
    --tema-texto: #302417;
    --tema-fondo-secundario: #DFE6D7;
  }

  html,
  body {
    @apply m-0 p-0 overflow-x-visible w-full scroll-smooth bg-fondo text-texto;
    font-family: "Manrope", sans-serif;
  }
}

@keyframes pulse-line {

  0%,
  100% {
    height: 40px;
    opacity: 0.3;
  }

  50% {
    height: 70px;
    opacity: 1;
  }
}